<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matching Card Game</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <section class="wholeThing">
        <section class="header">
            <h1>Match the cards</h1>
            <button id="reset">reset and shuffle</button>
        </section>

        <section id="cardStack">
            <section class="cardRow">
                <section class="card" data="0">
                    <img src="" class="card1">
                    <img src="blankSquares.png" class="backCard">
                </section>
                <section class="card" data="1">
                    <img src="" class="card2">
                    <img src="blankSquares.png" class="backCard">
                </section>
                <section class="card" data="2">
                    <img src="" class="card3">
                    <img src="blankSquares.png" class="backCard">
                </section>
                <section class="card" data="3">
                    <img src="" class="card4">
                    <img src="blankSquares.png" class="backCard">
                </section>
                <section class="card" data="4">
                    <img src="" class="card5">
                    <img src="blankSquares.png" class="backCard">
                </section>
            </section>
            <section class="cardRow">
                <section class="card" data="0">
                    <img src="" class="card1">
                    <img src="blankSquares.png" class="backCard">
                </section>
                <section class="card" data="1">
                    <img src="" class="card2">
                    <img src="blankSquares.png" class="backCard">
                </section>
                <section class="card" data="2">
                    <img src="" class="card3">
                    <img src="blankSquares.png" class="backCard">
                </section>
                <section class="card" data="3">
                    <img src="" class="card4">
                    <img src="blankSquares.png" class="backCard">
                </section>
                <section class="card" data="4">
                    <img src="" class="card5">
                    <img src="blankSquares.png" class="backCard">
                </section>
            </section>
        </section>
    </section>
    
</section>

    <audio id="flip" loop="false" volume="100">
        <source src="flip.mp3" type="audio/mpeg">
    </audio>

    <audio id="win" loop="false" volume="40">
        <source src="win.mp3" type="audio/mpeg">
    </audio>
 
    <script type="text/javascript" src="main.js"></script>
</body>

</html>